# IDE 相关
*.o

# Qt build 目录
ffmpegStudy/build-demo1SavePicture-Desktop_Qt_5_12_9_GCC_64bit-Debug/
ffmpegStudy/build-demo1SavePicture-Desktop_Qt_5_12_9_GCC_64bit-Debug/*
ffmpegStudy/build-videoPlayer-Desktop_Qt_5_12_9_GCC_64bit-Debug/
ffmpegStudy/build-videoPlayer-Desktop_Qt_5_12_9_GCC_64bit-Debug/*
qtProjects/build-MVCTest-Desktop_Qt_5_12_9_GCC_64bit-Debugg/
qtProjects/build-MVCTest-Desktop_Qt_5_12_9_GCC_64bit-Debugg/*

# ffmpeg share 目录
**/ffmpeg/share/**
**/share/**

# 编译生成的文件
*.exe
*.out
*.app
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp



