.vscode
*.o

# Qt build directory
ffmpegStudy/build-demo1SavePicture-Desktop_Qt_5_12_9_GCC_64bit-Debug/
ffmpegStudy/build-demo1SavePicture-Desktop_Qt_5_12_9_GCC_64bit-Debug/*


# 忽略ffmpeg下的share目录
# 任意深度
**/ffmpeg/share/   
# 匹配 share 目录下的所有内容     
**/ffmpeg/share/**



